@media screen and (max-width: 576px) {
    
    .nav-container, .content-list, .banner-btn{
        flex-direction: column;
    }
    .content-list li{
        /* margin-top: 15px; */
        margin-bottom: 20px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 300px;
        padding: 30px;   
    }
    .banner-img img {
       width: 300px;
        
    }
    .products-container{
        grid-template-columns: 1fr; 
    }
    .product-details{
        width: 100%;
        /* padding: 20px;    */
    }
    .product-details img{
        width: 100%;
    }
     
}




@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner-container{
        flex-direction: column;
    }
    .banner-img img{
        margin-top: 50px;
    }
    .products-container{
        grid-template-columns: repeat(2, 1fr);
         
    }
    .product-details{
        width: 100%;
    }
    .product-details img{
        width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1480px) {
    .products-container{
        grid-template-columns: repeat(3, 1fr);
         
    }
    .product-details{
        width: 100%;
    }
    .product-details img{
        width: 100%;
    }
}